{% load static %}

<video loop muted autoplay playsinline class="video">
  <source src="{% static 'css/back.mp4' %}" type="video/mp4" />
</video>
<!-- Custom styles for this template-->
    <link href="{% static 'bookstore/css/login.css' %}" rel="stylesheet">
    <link href="{% static 'bookstore/css/bootstrap/bootstrap.min.js' %}" rel="stylesheet">
    <link href="{% static 'bookstore/js/login.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">


    
<head>
	<title>BookApp</title>
</head>
<!--Coded with love by Mutiullah Samim-->
<body> 


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">



<div class="container">
<br> 


		 <h1 style="color: white" class="text-md-center"><span class="g"></span><span class="o"></span><span class="o1">BookApp</span> <span class="g"></span><span class="l"></span><span class="e"></span></h1>

<div class="row">
	<aside class="col-sm-4">
	</aside> <!-- col.// -->

	<aside class="col-sm-4">
		<h1 style="color: yellow; font-weight: bold; font-size: 40px" class="text-md-center"><span class="g"></span><span class="o"></span><span class="o1"></span>BookApp<span class="g"></span><span class="l"></span><span class="e"></span></h1>
		<br>
<div class="card">
<article class="card-body" style="padding-top: 0px">
<div class="d-flex justify-content-center">




	<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <center><h3>Login In Here</h3></center>
        <div class="d-flex justify-content-end">
          <span><i class="fab fa-user"></i></span>
        </div>
      </div>
      <div class="card-body">
        <form method="POST" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="username" name="username" required="">
            
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" class="form-control" placeholder="password" name="password" required="">
          </div>
          <div class="form-group">
            <input type="submit" name="sign-in" value="Sign In" class="btn float-left login_btn">
          </div>
          <div class="form-group">
            <a href="{% url 'regform' %}"><input name="sign-up" value="Register" class="btn float-right login_btn"></a>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center">
              {% if messages %}
            <div class="messages">
                {% for message in messages %}

                    <a class="alert alert-success" style="color:red;"> {{ message }}</a>

                {% endfor %}
            </div>
            {% endif %}
              </div>
      </div>
    </div>
  </div>
</div>
		






</article>
</div> <!-- card.// -->




	</aside> <!-- col.// -->
	<aside class="col-sm-4">
	</aside> <!-- col.// -->
</div> <!-- row.// -->

</div> 


                            

</body>
</html>

