{% extends 'dashboard/base.html' %}
{% load static %}

{% block body %}
<div class="container-fluid">
        <div class="row">
          <div class="col-12 mb-3">
          <div class="col-12 mb-3">
              <div id="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="">User : {{ object.username }} </a>
            </ol>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table text-warning"></i>
                    Details Of Book
                </div>
                <div class="card-body">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}

    <div class="row">
        <div class="col-12">
            <form method="post" style="background-color: black">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
                <input type="submit" {% if request.path == '/new' %} value="Add" {% else %} value="Update" {% endif %} class="btn btn-success"/>
                <a href="{% url 'aluser' %}"><button type="button" class="btn btn-secondary">Back</button></a>
            </form>
        </div>
    </div>


          </div>
        </div>
      </div>
    </div>
{% endblock %}
